.root {
    -fx-background-image: url("background.jpg");
}

#ok {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-color: #2b8dff;
    -fx-background-color: white;
    -fx-border-width: 8;
}

#ok:hover {
    -fx-border-color: #2b8dff;
    -fx-background-color: #73a9ff;
    -fx-text-fill: white;
}

#next {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-color: #2b8dff;
    -fx-background-color: white;
    -fx-border-width: 8;
}

#next:hover {
    -fx-border-color: #2b8dff;
    -fx-background-color: #73a9ff;
    -fx-text-fill: white;
}