.root {
    -fx-background-image: url("../../images/red.jpg");
}

#ok {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-color: #d92a25;
    -fx-background-color: white;
    -fx-border-width: 8;
}

#ok:hover {
    -fx-border-color: #d92a25;
    -fx-background-color: #ff464d;
    -fx-text-fill: white;
}

#next {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-color: #d92a25;
    -fx-background-color: white;
    -fx-border-width: 8;
}

#next:hover {
    -fx-border-color: #d92a25;
    -fx-background-color: #ff464d;
    -fx-text-fill: white;
}

#add {
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-border-color: #d92a25;
    -fx-background-color: #d92a25;
    -fx-text-fill: white;
}

#add:hover {
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-border-color: #ff464d;
    -fx-background-color: #ff464d;
    -fx-text-fill: white;
}